body{
    display: flex;
    flex-direction: row;
    margin: 0px;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: rgb(241, 221, 221);
    width: 100px;
}
.add{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plus{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 12px;
    border-color: #0021F5;
    background-color: #0021F5;
    height: 30px;
    width: 30px;
}
.search{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.replace{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.remove{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.suport{
    display: flex;
    flex-direction: column;
    align-items: center;
}
